.container {
  width: 350px;
  padding: 1rem;
}

.input1,
.input2 {
  margin-bottom: var(--fs8);
  display: flex;
  flex-direction: column;
  font-size: var(--fs16);
  font-weight: 400;
}
.input1 {
  margin-top: 12px;
}

.radioGroup {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin: 4px 0;
}

.radioGroup label {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.radioGroup input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--fs12);
  height: var(--fs12);
  /* 버튼과 색 통일 */
  outline: none;
}

input[type="radio"]:checked {
  background-color: #bca7f2;
}

input {
  height: 40px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

input[type="text"],
input[type="number"] {
  margin-top: 0.5rem;
  border-radius: 5px;
}

.addButton {
  width: 100%;
  height: 40px;
  background-color: #bca7f2;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 40px; /*  텍스트를 수직 중앙에 맞춤 */
  font-size: var(--fs16);
}
::placeholder {
  padding-left: 8px;
  font-size: var(--fs16);
  font-weight: 400;
}
