@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@600&display=swap");
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "NEXON Lv2 Gothic", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  --fs8: 8px;
  --fs12: 12px;
  --fs16: 16px;
  --fs20: 20px;
  --fs26: 26px;
  --fs33: 33px;
  --fs64: 64px;

  line-height: 1.6;
}
body {
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  font-family: "Ownglyph_meetme-Rg";
}

.main-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2열 구성 */
  grid-template-rows: auto auto; /* 필요한 만큼 두 행 */
  gap: 2rem; /* 요소 간 간격 */
}

.main-content h1 {
  grid-column: 1 / -1; /* 전체 너비 차지 */
  text-align: center;
}

.main-content > .summary {
  grid-column: 1 / -1; /* Summary도 두 칸 전체 차지 */
}

.main-content > .transaction-update {
  grid-column: 1;
}

.main-content > .history {
  grid-column: 2;
}

/* 반응형 미디어 쿼리 */
@media (max-width: 720px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .main-content > h1,
  .main-content > .summary,
  .main-content > .transaction-update,
  .main-content > .history {
    grid-column: auto; /* 각 요소 1열로 */
  }
}
